html{
    scroll-behavior: smooth;
}
#header{
    display: flex;
    margin: -8px;
    background: #1c1c1c;
    justify-content: space-around;
    align-items: center;
    column-gap: 0.25em;
    box-sizing: border-box;
    min-height: 50px;
    font-size: .875rem;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
}
#header a{
    color:#8f8c8c;
    text-decoration: none;
    padding: 15px 30px 30px 5px;
}
#header a:hover{
    color: #d3d3d2;
}
.header_secrion{
    display: flex;
    align-items: center;
}
.header_button{
    padding: 15px 20px;
    font-size: 15px;
}
#header_logo{
    font-weight: bold;
}
body{
    background-color: #111111;
}

#body_1{
    color: #fff;
    font-size: .875rem;
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    padding-left: 150px;
    padding-top: 220px;
    padding-right: 600px;
    padding-bottom: 50px;
    margin-top: 8px;
    margin-left: -8px;
    background-image: url(foto_1_body.png);
}
#span_1{
    color:#8f8c8c;
}
#li_1{
    font-size: 25px;
}
.arrow-7 {
    margin: 40px auto 10px auto;
    width: 38px;
    height: 10px;
}
.arrow-7 span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #337AB7;
    border-right: 5px solid #337AB7;
    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
}
#body_2{
    color: #fff;
    font-size: .875rem;
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    padding-left: 200px;
    padding-top: 65px;
    padding-right: 200px;
    padding-bottom: 65px;
    margin-top: 110px;
    margin-left: -8px;
}
#computer_store{
    background-color: #1c1c1c;;
    border-radius: 40px;
    padding: 30px;
    overflow: hidden;
}
#computer_store_span{
    color:#8f8c8c;
    margin-left: 550px;
} 
.container{
    margin-top: -30px;
}
.container ul{
    padding: 0px;
    margin: 0px;
}
.container ul li{
    float:left;
    list-style: none;
    width: 300px;
    height: 450px;
    background: #9810aa;
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    border-radius: 40px;

    background: linear-gradient(230deg,#f06407,#9810aa);
    box-shadow: -5px 5px 10px #9810aa,
    5px -5px 10px #f06407;
}
.container ul li:hover {
    box-shadow: 
      1px 1px #8f8c8c,
      2px 2px #8f8c8c,
      3px 3px #8f8c8c,
      4px 4px #8f8c8c,
      5px 5px #8f8c8c,
      6px 6px #8f8c8c,
      7px 7px #8f8c8c;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
}
.container ul li .pc{
    margin-top: 50px;
    line-height: 30px;
    padding-left: 10px;
    color:white;
    font-size: 15px;
    border-radius: 40px;
}
.container ul li .pc .price{
    background: #ee660c;; 
    border-radius: 40px;
    text-align: center;
    margin-left: 90px;
    margin-right: 100px;
    margin-top: 5px;
    box-shadow: -5px 5px 10px #ee660c,
    5px -5px 10px #ee660c;
}
.container ul li .pc .price a{
    text-decoration: none;
    color: #e2c4c4;
}
.container ul li .pc .namePC{
    border-radius: 40px;
    padding: 5px;
    text-align: center;
    /* margin: auto; */
    font-size: 20px;
    margin-bottom: 25px;
    margin-right: 10px;
    border: solid;
    box-shadow: -5px 5px 10px #d3d3d2,
    5px -5px 10px #d3d3d2;
}
.container ul li .pc .price:hover{
    color: #d3d3d2;
}
#body_3{
    color: #fff;
    font-size: .875rem;
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 950px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url(foto_3_1_body.jpeg);
    border-radius: 40px;
}
#span_2{
    color: #aaabaf;
    margin-left: 600px;
}
#fAQ{
    background-color: #111111;
    margin: 10px;
    border-radius: 40px;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 1200px;
    padding-bottom: 50px;
}
.question{
    color:#d6d1d1;
    font-size: 30px;
    border-radius: 40px;
}
.answer{
    font-size: 20px;
    border-radius: 40px;
    margin-left: 70px;
}
.block{
    border-radius: 40px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1100px;
    height: auto;
    margin-top: 25px;
    box-sizing: border-box;
    border-radius: 40px;
    background: linear-gradient(230deg,#f06407,#9810aa);
    box-shadow: -5px 5px 10px #9810aa,
    5px -5px 10px #f06407;
}



#body_4{
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    padding: 150px 950px 100px 150px;
    margin: 150px 100px 20px 100px;
    background-image: url(foto_4_body.jpeg);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question_b4{
    color: #ff00f2;
    text-align: center;
    position: absolute;
    margin-bottom: 750px;
    margin-left: 485px;
}
.slides{
    position: relative;
}
.slides .slider{
    display: none;
}
.slides .slider.active{
    display: block;
}
.slides .slider img{
    max-width: 600px;
    margin-left: 550px;
}
.prevNext{
    position: absolute;
    user-select: none;
    margin-left: 650px;
    margin-top: 700px;
}
.prevNext span{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 2em;
    color: white;
}
.prevNext span:nth-child(2){
    margin-right: 20px;
}

#footer_1{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
footer #nav_id{
    padding-top: 190px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-left: 100px;
}
footer .info{
    padding-top: 150px;
    width: 50%;
    margin: 0 auto;
    text-align: left;
}
footer .info div{
    padding-top: 5px;
}
footer nav .nav_d a{
    font-family: 'Roboto',sans-serif;
    color: grey;
    text-decoration: none;
    font-size: 35px;
    transition: 0.3s;
}
footer nav .nav_d a:hover{
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
}
footer nav .nav_d{
    margin-top: 10px;
}
footer .info .name_info{
    font-family: 'Roboto',sans-serif;
    color: grey;
    font-size: 35px;
}
footer .info .info_info{
    font-family: 'Roboto',sans-serif;
    color: rgb(80, 75, 75);
    font-size: 25px;
}
footer{
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}
footer #map span{
    font-size: 75px;
    font-family: 'Roboto',sans-serif;
    color: rgb(80, 75, 75);
    
}
#arrow_map{
    margin-left: 20px;
    font-size: 40px;
    color: rgb(80, 75, 75);
}
.icon{
    margin-top: 140px;
    display: flex;
    margin-left: 65%;
}
.icon a{
    font-size: 30px;
    text-shadow: 0 0 15px;
    animation: animate 3s infinite linear;
    margin-left: 10px;
}
.icon a:hover{
    border-bottom: 1px solid rgb(183, 0, 255);

}
@keyframes animate{
    0%,
    100%{
        color: #9810aa;
    }
    25%{
        color: #f06407;
    }
    50%{
        color: #9810aa;
    }
    75%{
        color: #f06407;
    }
}
.icon a ion-icon{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}